
.link {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* beta/text/high emphasis */
  color: #03314B;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #22C870;
  transform-origin: bottom right;
  /* transition: transform 0.25s ease-out; */
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}