@font-face {
  font-family: "Cera Pro";
  src: url('./fonts/CeraProBold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "Cera Pro";
  src: url('./fonts/CeraProMedium.otf') format('opentype');
  font-weight: 500;
}


@font-face {
  font-family: "Cera Pro";
  src: url('./fonts/CeraProRegular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: "Cera Pro";
  src: url('./fonts/Cera\ Pro\ Light.otf') format('opentype');
  font-weight: 300;
}

/* body {
  font-family: 'Cera Pro';
} */